// Color vars
$bgc: #505050;
$bg2: #3f3f3f;
$bg3: #222;
$fgc: #fcfcfc;

$border: 0.1em solid $bg3;

body {
    color: $fgc;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

button {
    padding: 0.3em 0.75em;
    margin: 0.25em 0;
    width: 10em;
    height: 2.5em;
    border-radius: 0.5em;

    background-color: $bgc;
    border: $border;

    a {
        text-decoration: none;
        width: 100%;
    }
}

header,
footer {
    background-color: $bg2;
    color: $fgc;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    border-bottom: $border;

    button {
        align-items: center;
        text-align: center;
        width: 7em;
        margin: 0 2em;
    }
}

footer {
    display: flex;
    height: 2em;
    padding-left: 0.75em;
    align-items: center;
    border-top: $border;
}

#main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#sidebar {
    background-color: $bg2;
    padding: 1em;
    width: 15em;
    border-right: $border;

    button {
        width: 100%;
        display: flex;
        flex-direction: row;
        white-space: nowrap;

        p {
            line-height: 1.75;
            display: inline-block;
            overflow: scroll;
            width: 90%;
        }

        .logo {
            width: 1.5em;
            position: relative;
            top: 0.1em;
        }
    }
}

#page {
    background-color: $bgc;
    display: flex;
    flex-direction: column;
    padding: 1em 2em 3em;
    flex: auto;
}
