// Font vars
$prose: "Sans Serif";
$headers: "Sans Serif";

a {
    color: #a0c0ff;
}

p,
a {
    font-family: $prose;
    font-size: 1em;
}

h1,
h2,
h3,
h4 {
    font-family: $headers;
    font-weight: 600;
}

b {
    font-weight: 600;
}

h1 {
    line-height: 1.5;
    font-size: 2em;
}

h1.logo {
    font-size: 2em;
}

i {
    font-style: italic;
}
